
span
    b
        i BASIC HINTS
    ul
        li(*ngFor="let oneExp of baseExplanation")
            i {{oneExp}}
br
br
br
span
    b
        i LEVELING UP
    ul
        li(*ngFor="let levExp of levelUpExplanation")
            i {{levExp}}
